{
	"trailingComma": "none",
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrderParserPlugins": [
		"typescript",
		"jsx",
		"classProperties",
		"decorators-legacy"
	],
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^../(.*)", "^./(.*)"],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
